<div class="modal padding">
  <ion-header-bar>
    	<h1 class="title margin">How to use the app</h1>
  </ion-header-bar>
  <ion-content>
    	<p class="center margin">To access the menu, swipe your screen to the right or touch the <button class="button button-icon icon ion-navicon" style="height: 15px !important;"></button> button.<br />Make sure you set your device's location settings to allow apps to use geolocation data so that you can use this app to navigate to the venue.
        
        </p>
        <div class="buttons padding">
          <button class="button button-block button-positive" ng-click="closeMessage()">Got It</button>
        </div>
  </ion-content>
</div>

