<ion-view title="Venue">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  	 <div class="list card padding">
          <div class="item item-icon-left">
            <i class="icon ion-navigate"></i>
            <h2>Ezekiel Guti Conference Centre</h2>
            <p>Amalinda Road, Glenview 7, Harare</p>
          </div>    
          <div class="item item-image">
            <div id="map"></div>
            <h3 class="padding-vertical">
            	{{distance}}
            </h3>
          </div>    
      </div>      
  </ion-content>
</ion-view>
